
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>Whatsplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="./bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../bootstrap/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Criar local: passo 2</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/buscar-locais">Buscar Locais</a></li>
              <li><a href="/buscar-universos">Buscar universos</a></li>
              <li><a href="/buscar-usuarios">Buscar usuários</a></li>
              <li><a href="/criar-universo">Criar universo</a></li>
              <li><a href="/criar-local-passo1">Criar Local</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
        <form name="criarLocal2" id="criarLocal2">
        <div class="row-fluid">
          <div class="span6">
              <label>Usar localização atual?</label>
              <select name="localizacao-atual" class="span12">
                  <option value="S" selected>Sim</option>
                  <option value="N">Não</option>
              </select>
          </div>    
        </div><!--/row-->
        <hr>
        <div class="row-fluid">
          <div class="span12">
              <label>Local</label>
              <input name="endereco" type="text" class="span12" placeholder="Ex.: Av. Amazonas, 5678, Belo Horizonte">
          </div>    
        </div><!--/row-->
        <hr>
        <article>
        </article>
        <hr>
        <div class="row-fluid">
          <div class="span12">
              <input type="button" class="btn btn-primary span12" value="Criar" onclick="doRequest();">
          </div>    
        </div><!--/row-->
        </form>
      <hr>

      <footer>
        <p>&copy; Whatsplace 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery-1.10.1.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    
    <script type="text/javascript">
        var lat, lng;
        function success(position) {
            var mapcanvas = document.createElement('div');
            mapcanvas.id = 'mapcanvas';
            mapcanvas.style.height = '150px';
            mapcanvas.style.width = '100%';

            document.querySelector('article').appendChild(mapcanvas);

            lat = position.coords.latitude;
            lng = position.coords.longitude;

            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var myOptions = {
              zoom: 15,
              center: latlng,
              mapTypeControl: false,
              navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);

            var marker = new google.maps.Marker({
                position: latlng, 
                map: map, 
                title:"Você está aqui!"
            });
          }

          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success);
          } else {
              alert('Geolocalização não suportada para este navegador.');
          }
          
          function doRequest() {
              var $form = $('#criarLocal2');
              var data = getFormData($form);

              if(data['localizacao-atual'] == 'N') {
                  var geocoder = new google.maps.Geocoder();
                  var closureLat, closureLng;
                  geocoder.geocode( { 'address': data.endereco}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                      data.latitude = results[0].geometry.location.ob;
                      data.longitude = results[0].geometry.location.pb;
                      Request.httpRequest('http://www.google.com', data);
                    }
                  });
              } else if(data['localizacao-atual'] == 'S'){
                  data.latitude = lat;
                  data.longitude = lng;
                  Request.httpRequest('http://www.google.com', data);
              }
          }
    </script>
  </body>
</html>
