
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>Whatsplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="./bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../bootstrap/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Criar local: passo 1</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/buscar-locais">Buscar Locais</a></li>
              <li><a href="/buscar-universos">Buscar universos</a></li>
              <li><a href="/buscar-usuarios">Buscar usuários</a></li>
              <li><a href="/criar-universo">Criar universo</a></li>
              <li class="active"><a href="#">Criar Local</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <form name="criarLocal1" id="criarLocal1">
      <div class="row-fluid">
        <div class="span12">
            <label>Universo</label>
            <select id="universo" name="universo" class="span12"></select>
        </div>    
      </div><!--/row-->
      <hr>
      <div class="row-fluid">
        <div class="span12">
            <label>Nome do local</label>
            <input name="nome" type="text" class="span12">
        </div>    
      </div><!--/row-->
      <hr>
      <div class="row-fluid">
        <div class="span12">
            <input type="button" class="btn btn-primary span12" value="Próximo" onclick="Request.httpRequest('/criar-local-passo2', getFormData($('#criarLocal1')))">
        </div>    
      </div><!--/row-->
      </form>
      <hr>

      <footer>
        <p>&copy; Whatsplace 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery-1.10.1.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var success = function(response) {
                var option;
                for(var idx in response) {
                    option = $('<option value="'+response[idx].id+'">'+response[idx].nome+'</option>')
                    $('select#universo').append(option);
                }
            };

            Request.httpRequest('/listar-universos', {}, success);
        });
    </script>

  </body>
</html>
